#form{
    margin:0 auto;
    padding:0px 10px;
    width: 950px;
    height: 590px;
}
div.formGroup.form-group{
    margin-bottom: 50px;
}
label.form-label{
    color: #17d8be;
}
input.form-control, select.form-control{
    border-top: slategray;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    
}
